.ModalAuth {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.ModalAuth.activeAuth {
    pointer-events: all;
    opacity: 1;
}

.ModalAuth__content {
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(39, 179, 179);
    width: 400px;
    height: 200px;
}